@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

header .line{
    border: 10px solid #117050;
}

.container{
    max-width: 1100px;
    margin: auto;
    background-color: antiquewhite;
}

.header--area{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--left img{
    width: 64px;
}

.header--right form input{
    font-size: 16px;
    padding: 7px 10px;
    outline: 0;
    border: 1px solid #aaa;
}